# Variables de Ambiente - Frontend (Vite)

# Endpoint Formspree para o Formulário de Revenda
VITE_REVENDA_FORMSPREE_ENDPOINT=https://formspree.io/f/xzepnabq

# Endpoint Formspree para o Formulário de Produto
VITE_PRODUTO_FORMSPREE_ENDPOINT=https://formspree.io/f/xgawglvw
